<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/bootstrapStyles")%>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <header>
        <%- include("partials/logo")%>
    </header>
    <h2 class="title_create_account">Create your free account</h2>
    <div class="log_in_container">
        <%- include("partials/login")%>
    </div>
    
    <%- include("partials/bootstrapScript")%>
    <%- include("partials/scripSweetalert")%>
    <script src="/scripts/login.js"></script>
</body>
</html>